# Data

In [1]:
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import scipy
import numpy
import json
import sys
import csv
import os

Let us check the versions of the libraries here

In [2]:
print('matplotlib: {}'.format(matplotlib.__version__))
print('sklearn: {}'.format(sklearn.__version__))
print('scipy: {}'.format(scipy.__version__))
print('seaborn: {}'.format(sns.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

matplotlib: 3.7.3
sklearn: 1.3.2
scipy: 1.10.1
seaborn: 0.13.2
pandas: 2.0.3
numpy: 1.23.5
Python: 3.8.19 | packaged by conda-forge | (default, Mar 20 2024, 12:50:25)
[Clang 15.0.7 ]

Configuration of visualizations

## Data Collection
This is the process of gathering data, information or any variables of interest for the purpose of hypothesis testing and evaluation of outcomes. Pandas can read data from many sources.

Get dataset from source

In [6]:
import yfinance as yf

starting="2021-08-19"
ending="2023-11-26"
dataset = yf.download("CHPT", starting, ending)

[*********************100%***********************]  1 of 1 completed

Save to `.csv` file

In [7]:
file_path = 'data_file.txt'
dataset.to_csv(file_path, index=False)

View first few records

In [8]:
dataset.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,CHPT,CHPT,CHPT,CHPT,CHPT,CHPT
Date,,,,,,
2021-08-19 00:00:00+00:00,20.790001,20.790001,21.579000,20.74,21.500000,6455100
2021-08-20 00:00:00+00:00,21.260000,21.260000,21.518999,20.76,20.820000,4375600
2021-08-23 00:00:00+00:00,21.969999,21.969999,22.120001,21.34,21.420000,3983600
2021-08-24 00:00:00+00:00,22.540001,22.540001,22.600000,22.01,22.330000,4401200
2021-08-25 00:00:00+00:00,22.240000,22.240000,22.700001,21.82,22.700001,4904800

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 571 entries, 2021-08-19 00:00:00+00:00 to 2023-11-24 00:00:00+00:00
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, CHPT)  571 non-null    float64
 1   (Close, CHPT)      571 non-null    float64
 2   (High, CHPT)       571 non-null    float64
 3   (Low, CHPT)        571 non-null    float64
 4   (Open, CHPT)       571 non-null    float64
 5   (Volume, CHPT)     571 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 31.2 KB

In [10]:
type(dataset)

pandas.core.frame.DataFrame