# Data

In [1]:
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np

## Data Collection
This is the process of gathering data, information or any variables of interest for the purpose of hypothesis testing and evaluation of outcomes. Pandas can read data from many sources.

Get dataset from source

In [2]:
import yfinance as yf

starting="2021-08-19"
ending="2023-11-26"
dataset = yf.download("CHPT", starting, ending)

[*********************100%***********************]  1 of 1 completed

/Users/johnmoses/miniforge3/envs/mforge39/lib/python3.9/site-packages/yfinance/utils.py:768: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

Save to `.csv` file

In [3]:
file_path = '../xdata/data_file.txt'
dataset.to_csv(file_path, index=False)

View first few records

In [4]:
dataset.head()

                 Open       High    Low      Close  Adj Close   Volume
Date
2021-08-19  21.500000  21.579000  20.74  20.790001  20.790001  6455100
2021-08-20  20.820000  21.518999  20.76  21.260000  21.260000  4375600
2021-08-23  21.420000  22.120001  21.34  21.969999  21.969999  3983600
2021-08-24  22.330000  22.600000  22.01  22.540001  22.540001  4401200
2021-08-25  22.700001  22.700001  21.82  22.240000  22.240000  4904800

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 571 entries, 2021-08-19 to 2023-11-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       571 non-null    float64
 1   High       571 non-null    float64
 2   Low        571 non-null    float64
 3   Close      571 non-null    float64
 4   Adj Close  571 non-null    float64
 5   Volume     571 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 31.2 KB

In [6]:
type(dataset)

pandas.core.frame.DataFrame